Final Deliverables/Project Development Phase/Sprint-4/flows.json
[{"id":"446b28c8c3f74757","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"e5c5ca339b895f4b","type":"debug","z":"446b28c8c3f74757","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"85af8803fb96d762","type":"function","z":"446b28c8c3f74757","name":"distance node","func":"msg.payload=msg.payload.Distance\nglobal.set(\"d\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":260,"wires":[["99e4945bd40d5d0b"]]},{"id":"736514c7b05b046a","type":"function","z":"446b28c8c3f74757","name":"load node","func":"msg.payload=msg.payload.Load\nglobal.set(\"L\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["091bf28f02de1016"]]},{"id":"efbe69e6f4b6ae53","type":"ibmiot in","z":"446b28c8c3f74757","authentication":"apiKey","apiKey":"ce995ee0ce0b02c3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":140,"wires":[["e5c5ca339b895f4b","85af8803fb96d762","736514c7b05b046a","534e95e25687e936"]]},{"id":"091bf28f02de1016","type":"ui_gauge","z":"446b28c8c3f74757","name":"","group":"97a35fe0aa2db879","order":2,"width":0,"height":0,"gtype":"gage","title":"Weight of the bin","label":"kg","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":80,"wires":[]},{"id":"99e4945bd40d5d0b","type":"ui_gauge","z":"446b28c8c3f74757","name":"","group":"97a35fe0aa2db879","order":3,"width":0,"height":0,"gtype":"gage","title":"Distance of the waste in bin","label":"cm","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":260,"wires":[]},{"id":"b16ea82779dabe69","type":"ui_button","z":"446b28c8c3f74757","name":"","group":"97a35fe0aa2db879","order":2,"width":0,"height":0,"passthru":false,"label":"bin lid open","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Lid open","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":420,"wires":[["75cc05f9e5e3bc4a","5c8d5f25eb1b16d8"]]},{"id":"75cc05f9e5e3bc4a","type":"debug","z":"446b28c8c3f74757","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":540,"wires":[]},{"id":"7b65f351bdeb59b8","type":"ui_button","z":"446b28c8c3f74757","name":"","group":"97a35fe0aa2db879","order":3,"width":0,"height":0,"passthru":false,"label":"bin lid close","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Lid close","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":540,"wires":[["75cc05f9e5e3bc4a","5c8d5f25eb1b16d8"]]},{"id":"5c8d5f25eb1b16d8","type":"ibmiot out","z":"446b28c8c3f74757","authentication":"apiKey","apiKey":"ce995ee0ce0b02c3","outputType":"cmd","deviceId":"revathy2001","deviceType":"Revathyhub","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":420,"wires":[]},{"id":"534bb80ad2e69b84","type":"ui_text","z":"446b28c8c3f74757","group":"97a35fe0aa2db879","order":4,"width":0,"height":0,"name":"","label":"location","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":200,"wires":[]},{"id":"534e95e25687e936","type":"function","z":"446b28c8c3f74757","name":"location","func":"msg.payload=msg.payload.location\nglobal.set(\"lo\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":200,"wires":[["534bb80ad2e69b84"]]},{"id":"ae68e1b85bfe75b5","type":"http in","z":"446b28c8c3f74757","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":310,"y":340,"wires":[["f2d902b7a54d54b7"]]},{"id":"cd78f0fa39cfe926","type":"http response","z":"446b28c8c3f74757","name":"","statusCode":"","headers":{},"x":710,"y":340,"wires":[]},{"id":"f2d902b7a54d54b7","type":"function","z":"446b28c8c3f74757","name":"http function node","func":"\nmsg.payload={\"Load\":global.get(\"L\"),\"Distance\":global.get(\"d\"),\"location\":global.get(\"lo\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["cd78f0fa39cfe926"]]},{"id":"e8171fb83688c0ed","type":"http in","z":"446b28c8c3f74757","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":230,"y":600,"wires":[["df4c83330806febe"]]},{"id":"66ee4a442337dfc5","type":"http response","z":"446b28c8c3f74757","name":"","statusCode":"","headers":{},"x":710,"y":620,"wires":[]},{"id":"df4c83330806febe","type":"function","z":"446b28c8c3f74757","name":"comand function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["66ee4a442337dfc5","75cc05f9e5e3bc4a","5c8d5f25eb1b16d8"]]},{"id":"ce995ee0ce0b02c3","type":"ibmiot","name":"sprint3","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"97a35fe0aa2db879","type":"ui_group","name":"load&distance","tab":"611095ac647d2c63","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"611095ac647d2c63","type":"ui_tab","name":"control","icon":"location","disabled":false,"hidden":false}]